body{
	font: 'Raleway',sans-serif;
	color: rgb(0,0,0,0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top: 25%;
	background:linear-gradient(to right,color1.value , yellow);
}
h1{
	font:'Raleway',sans-serif;
	font-size: 60px;
	color: rgb(0,0,0,0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
}

h3{
	font: 900 1em 'Raleway',sans-serif;
	color: rgb(0,0,0,0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1em;
}